<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/application.css" />
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1><%= `${user.email}'s Profile` %></h1>

      <hr />

      <h2>Latest Posts</h2>
      <ul class="list-unstyled">
        <% if(posts) { %> <% posts.forEach(post => { %>
        <li>
          <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>">
            <%= post.title %>
          </a>
        </li>
        <% }) %> <% } %>
      </ul>

      <hr />

      <h2>Latest Comments</h2>
      <ul class="list-unstyled">
        <% if(comments) { %> <% comments.forEach(comment => { %>
        <li>
          <span>Post: </span
          ><a
            href="/topics/<%= comment.Post.topicId %>/posts/<%= comment.Post.id %>"
          >
            <%= comment.Post.title %>
          </a>
          <p>Comment: <%= comment.body %></p>
        </li>
        <hr />
        <% }) %> <% } %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
